:root {
    --white: #faf5f6;
    --transwhite: rgba(250, 245, 246, .7);
    --moretranswhite: rgba(239, 239, 239, .1);
    --black: #252525;
    --transblack: rgba(37, 37, 37, .7);
    --moretransblack: rgba(37, 37, 37, .1);
    --gray: #6b6b6b;
    --highlight: #e5ffc3;
    --red: #e4002b;
    --green: #24d05a;
    --pink: #eb4888;
    --blue: #10a2f5;
    --yellow: #e9bc3f;
}

body {
    margin: 0;
    padding: 0;
    font-family: iA Writer Mono,monospace
}

main {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
section {
    height: 100%;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 90vh;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

@keyframes rotate-gradient {
to {
    transform: rotate(360deg)
}
}

a {
    color: var(--black);
    text-decoration-thickness: .3ex;
    text-underline-offset: .3ex;
}

a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

/* Style footer */
footer {
    /* background-color: lightseagreen; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}


footer a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    display: block;
    margin: 0;
    padding: 1.25rem 0;
}

textarea::placeholder {
    color: #000;
}

.wrapper-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background: #ECF0F1;
}

.btn {

}
