<!DOCTYPE html>
<html>
    {% include "head.html" %}

    <body>
        {% include "nav.html" %}
        <main class="pt-20">
            <section class="flex flex-col items-center justify-center ">
                {% block content %}{% endblock content %}
                <div id="particles-js">
                    <script src="static/particles.js"></script>
                    <script src="static/particles-cfg.js"></script>
                </div>
            </section>
        </main>
        <script src="static/cassidoo.js"></script>

        {% include "footer.html" %}
    </body>

</html>
