<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
        <link rel="manifest" href="static/favicon/site.webmanifest">
        <link rel="stylesheet" href="static/custom.css">
        {% if title=="404" %}
        <link rel="stylesheet" href="static/glitch.css">
        {% endif %}
        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
        <!-- Tailwind -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    </head>

    <body>
        {% include "nav.html" %}
        <main class="pt-20 flex justify-center items-center">
            {% block content %}{% endblock content %}
            <div id="particles-js"></div>
            <script src="static/particles.js"></script>
            <script src="static/particles-cfg.js"></script>
        </main>

        {% include "footer.html" %}
    </body>

</html>
