<!-- Navigation Bar -->
<nav class="shadow-md p-4 text-white">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-2xl font-semibold text-blue-500"><img src="/static/home.svg" /></a>
        <ul class="flex space-x-6 text-lg">
            <li><a href="/hello" class="hover:text-blue-500">/hello</a></li>
            <li><a href="/posts" class="hover:text-blue-500">/posts</a></li>
            <li><a href="/wabbu-labbu-dab-dab" class="hover:text-blue-500">/wabbu-labbu-dab-dab</a></li>
        </ul>
    </div>
</nav>
