<!-- Navigation Bar -->
<nav class="shadow-md p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" >
            <img
                src="/static/home.svg"
                class="transform transition duration-300 hover:scale-125"/>
        </a>
        <ul class="flex space-x-6 text-lg">
            <li><a href="/hello" class="transition duration-300">/hello</a></li>
            <li><a href="/posts">/posts</a></li>
            <li><a href="/wabbu-labbu-dab-dab">/wabbu-labbu-dab-dab</a></li>
        </ul>
    </div>
</nav>
